/* MAIN-CODES */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 21px;
  color: #000;
}
.container {
  max-width: 900px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}
.img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo-img {
  display: block;
  transition: opacity 0.3s ease;
}

.logo-img:hover {
  opacity: 0.7;
}

.logo-img:active {
  opacity: 0.5;
}

.site-header {
  padding: 20px 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
}

.menu-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu-link {
  background-color: #fff;
  display: block;
  padding: 15px 30px;
  margin-right: 10px;
  text-decoration: none;
  color: #555;
  font-size: 18px;
  transition: box-shadow 0.3s ease, opacity 0.3s ease;
}

.menu-link:hover {
  box-shadow: inset 0 -2px 0 0 #555;
}

.menu-link:active {
  opacity: 0.5;
}

.input-header {
  padding: 15px 10px;
  border: none;
  border-bottom: 2px solid #555;
  outline: none;
}

 /* SITE-INTRO */

.intro {
  border-bottom: 1px solid #777;
  overflow: hidden;
  background-image: url("../img/watches.jpg");
  background-repeat: no-repeat;
  background-position: calc(60% + 550px) 20px;
  margin-bottom: 100px;
}

.intro-container {
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  padding-top: 133px;
  padding-bottom: 330px;
  position: relative;
  z-index: 1;
  /* overflow: hidden; */
}

.intro-wrapper {
  width: 390px;
  /* margin-top: 100px; */
}

.intro-heading {
  margin-bottom: 70px;
}

.intro-text {
  padding-left: 30px;
  border-left: 5px solid #666;
  color: #666;
  margin-bottom: 60px;
}

.button-link {
  display: inline;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  background-color: rgb(245, 78, 78);
  padding: 12px;
}